<style>
.switch {
    width:60px;
    height:30px;
    cursor:pointer;
    position:relative;
    display:inline-block;
}
body {
    background-color: black;
    color: white;
}
.push {
    background-color: white;
    color:black;
}
input .switch {
    width:0;
    height:0;
    opacity:0;
}
.slider {
    left:0;
    right:0;
    top:0;
    bottom:0;
    border-radius: 50px;
    background-color: #2196F3;  
    position:absolute;
}
.slider::after {
    content:"";
    width:20px;
    position: absolute;
    height:20px;
    background-color: white;
    border-radius: 50%;
    left:5px;
    transition: 0.3s;
    bottom:5px;
}
input:checked + .slider {
    background-color: #ccc;
}
input:checked + .slider::after {
    transform: translateX(29px);
    transition: 0.3s;
}
</style>
